<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--<sec:authorize access="isAuthenticated()">-->
<!--    <sec:authentication property="principal" var="principal" />-->
<!--</sec:authorize>-->

<div th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="" th:href="@{/}">kaka</a>
            <button class="navbar-toggler" data-bs-target="#collapsibleNavbar" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" href="" th:href="@{/auth/loginForm}">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" th:href="@{/auth/joinForm}">회원가입</a>
                    </li>
                </ul>
                <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" href="" th:href="@{/board/saveForm}">글쓰기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" th:href="@{/user/updateForm}">회원정보</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" th:href="@{/logout}">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<br/>
</html>