<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<div th:replace="layout/head::head"></div>
<body>
<div th:replace="layout/header::header"></div>

<div class="container">
    <br/>
    <button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
    <span th:if="${#authentication.principal.user.id} == ${board.user.id}">
        <a th:href="@{'/board/' + ${board.id} +'/updateForm'}">
            <button class="btn btn-warning">수정</button>
        </a>
        <button class="btn btn-danger" id="btn-delete">삭제</button>
    </span>
    <br/>
    <div>
        글번호 : <span id="id"><i th:text="${board.id}"></i></span>
        작성자 : <span><i th:text="${board.user.username}"></i></span>
    </div>
    <br/>
    <div class="mb-3 mt-3">
        <h3 th:text="${board.title}">씹싸</h3>
    </div>
    <hr/>
    <div class="mb-3">
        <div th:utext="${board.content}">
            씹싸
        </div>
        <hr/>
    </div>

    <button class="btn btn-primary" id="btn-save">글쓰기</button>
</div>

<script>
    $('.summernote').summernote({
        tabsize: 2,
        height: 300
    });
</script>
<script th:src="@{/js/board.js}"></script>
<div th:replace="layout/footer::footer">저장</div>
</body>
</html>
