<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="layout/head::head"></div>
<body>
<div th:replace="layout/header::header"></div>

<div class="container">
    <div class="container-fluid mt-3">
        <form method="POST" th:action="@{/auth/loginProc}" th:object="${user}">
            <div class="mb-3 mt-3">
                <label class="form-label" for="username">Username:</label>
                <input class="form-control" id="username" placeholder="Enter username" th:field="*{username}"
                       type="text">
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" id="password" placeholder="Enter password" th:field="*{password}"
                       type="password">
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" name="remember" type="checkbox"> Remember me
                </label>
            </div>
            <button class="btn btn-primary" id="btn-login">로그인</button>
        </form>
    </div>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>
